priority -20
extends r

snippet dl "Download and install a package" b
download.file("${1:${VISUAL:url to package}}", destfile = "${2:${1/.*\/(\S*)$/(?1:$1)/ga}}")
install.packages("$2", type = "source", repos = NULL)
library("${3:${2/^(\w+)_.*$/(?1:$1)/ga}}")
endsnippet


snippet `` "Rmarkdown chunk" bA
\`\`\`\{${1:r}\}
$0
\`\`\`
endsnippet
